<app-navbar></app-navbar>

<div class="div">
    <div class="div-in">
        <img src="assets/images/error/Group 2745.png" alt="">
        <p>Ошибка 404, что-то пошло не так, запрашиваемая вами страница не найдена, возможно, неправильно указан адрес.</p>
    </div>
    <div class="in">
        <hr style="border: 1px solid rgb(202, 201, 201);margin-top: 90px;">
        <p style="box-shadow: 0px 10px 22px 0px #A8865E4D;background-color: #BB9B75;border-radius: 50%;padding: 30px;width: 147px;height: 147px;color: #fff;display: flex;align-items: center;justify-content: center;text-align: center;">На главную страницу</p>
    </div>
</div>

<app-footer></app-footer>