<div class="container" #container>
	<div class="left" *ngIf="totalPages > 1" (click)="currentPage != 1 && changePage(-1)" [ngClass]="{'disabled':currentPage === 1}"></div>
	<div class="cards" [ngClass]="{'w-100': totalPages === 1}">
		<div class="overflow" [ngStyle]="{'width': overflowWidth, 'left': pagePosition}">
			<div class="card">
                <img src="assets/images/home/Rectangle 1570.png" alt="">
            </div>
            <div class="card">
                <img src="assets/images/home/1.png" alt="">
            </div>
            <div class="card">
                <img src="assets/images/home/Rectangle 1570.png" alt="">
            </div>
            <div class="card">
                <img src="assets/images/home/1.png" alt="">
            </div>
            <div class="card">
                <img src="assets/images/home/Rectangle 1570.png" alt="">
            </div>
            <div class="card">
                <img src="assets/images/home/1.png" alt="">
            </div>
            <div class="card">
                <img src="assets/images/home/Rectangle 1570.png" alt="">
            </div>
            <div class="card">
                <img src="assets/images/home/1.png" alt="">
            </div>
		</div>
	</div>
	<div class="right" *ngIf="totalPages > 1" (click)="currentPage != totalPages && changePage(+1)"
		[ngClass]="{'disabled':currentPage === totalPages}"></div>
</div>